/*Navbar customizations*/
.navbar.navbar-expand-lg.navbar-light.bg-light-custom{
    background-color: transparent;
    border-bottom: 1px solid rgb(236, 239, 241);
    padding-bottom: 12px;
    padding-top: 10px;
}

/* Navbar logo*/
.navbar-brand{
  padding-left: 4.4rem;
  padding-right: 7rem;
}

/*Drops down menu on hover*/
.dropdown:hover>.dropdown-menu {
  display: block;
}




/*Removes boostrap default border given to navbar toggle in mobile view*/
.navbar-light .navbar-toggler{
  border-color:transparent;
}


/*Removes bootstrap default arrow from dropdown*/
.dropdown-toggle::after {
  content: none;
}


@media(max-width: 768px){
  .navbar-brand{
    padding-left: 1rem;
  }
}