/*Navbar customizations*/
.navbar.navbar-expand-lg.navbar-light.bg-light-custom{
    background-color: transparent;
    border-bottom: 1px solid rgb(236, 239, 241);
    padding-bottom: 12px;
    padding-top: 10px;
}

/* Navbar logo*/
.navbar-brand{
  padding-left: 4.4rem;
  padding-right: 7rem;
}

/*Drops down menu on hover*/
.dropdown:hover>.dropdown-menu {
  display: block;
}



/*Removes boostrap default border given to navbar toggle in mobile view*/
.navbar-light .navbar-toggler{
  border-color:transparent;
}


/*Removes bootstrap default arrow from dropdown*/
.dropdown-toggle::after {
  content: none;
}


/*Section 2 Table*/
.table{
    border: 1px solid rgb(236, 239, 241);
}

/*Table elements styling*/


.table>:not(:last-child)>:last-child>*{
    border-bottom-color: rgb(236, 239, 241);
}

.table>:not(caption)>*>*{
  font-weight: 400;
  font-size: 14px;
}

svg.chartSvg{
  display: block;
  fill:none;
  width: 100px;
  margin:0px;
}

path.pathStyle{
  stroke-width: 1.7;
  stroke: rgba(17, 51, 83, 0.3);
  pointer-events: none;
}

/*Section 6 background*/
.custom-background.container-fluid{
  padding-top: 4rem;
  padding-bottom: 3.5rem;
  background-color: rgb(22, 82, 240);
  color: #fff;
}

/*Container for section 7*/
.containersec7.container{
  margin-top: 6rem;
}

/*SVG for section1*/
svg.iphoneMock{
  height: 600px;
}

h1.jumboText{
  font-size: 62px;
  font-weight: 600;
  line-height: 1.15;
  margin-top: 8px;
  margin-bottom: 16px;
  color:rgb(5, 15, 25);
}

.jumboSubText{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 32px;
}

/*Container for section 1*/
.containersec1.container{
  margin-top: 4.7rem;
}

/*Intro text for section 1*/
a.blueTxt{
  text-decoration: none;
  font-weight: 600;
  cursor:pointer;
  margin-right: 0.5rem;
  align-items: center;
}

/*Removing underline for intro text section 1*/
a.blueTxt:hover{
  text-decoration: underline;
}

/**/
.subsection1.col-md-5.col-12{
  padding-top: 2.7rem;
}
/* Intro svg for section1*/
svg.bitcoinBlue{
  margin-right: 0.8rem;
}

.getStartedBtn.btn.btn-primary.btn-lg{
  position: relative;
  width: 100%;
  margin: 0px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 80ms ease-in-out 0s;
  padding: 24px;
  font-size: 16px;
  border: 1px solid rgb(22, 82, 240);
  background-color: rgb(22, 82, 240);
}

.getStartedBtn.btn.btn-primary.btn-lg:hover{
  background-color: rgb(10, 70, 228);
  border-color: rgb(10, 70, 228);
}

.fieldCustom.form-control{
  z-index: 0;
  width: 100%;
  margin: 0px;
  padding: 20px;
  border: none;
  border-radius: 3px;
  background: none;
  font-size: 18px;
  font-weight: 400;
  color: rgb(5, 15, 25);
  font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.formField.col-md-7{
  border-width: 1px;
  border-style: solid;
  border-color: rgb(236, 239, 241);
  border-radius: 4px;
  transition: all 0.15s ease 0s;
  background: rgb(255, 255, 255);
}

.tcText{
  font-size: 9px;
  margin-top: 12px;
  text-decoration: underline
}


@media(max-width: 768px){
  .navbar-brand{
    padding-left: 1rem;
  }
}